@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mitr:wght@200;300;400&display=swap');

.Lobster {
   font-family: 'Lobster', cursive;
   color:#DECA94;
}

.Mitr {
   font-family: 'Mitr', sans-serif;
}


.background-image {
   background-image: url('bgchan.jpg');
   height: 100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.logochanthong {
   font-size: 80px;
   padding: 50px 0 50px 50px;
   margin-bottom: 0px;
   padding-bottom: 0;
}

.textuser {
   font-size: 30px;
   padding-left: 80px;
}

.textpw {
   font-size: 30px;
   padding-left: 80px;
   margin-top: 35px;
   margin-bottom: 0;
}


.textforget {
   color: #24ccd5;
   font-weight: 200;
   padding-left: 80px;
   margin-bottom: 0;
}

.textlogin {
   font-size: 40px;
   font-weight: bolder;
   text-align: center;
   padding-top: 10px;
   -webkit-text-stroke: 2px #d95e57;
   /* text-webkit-text-stroke: #d95e57; */
}
.btn-login:hover {
   cursor: pointer;
}






